<div class="container">
    <div class="page-header">
        <h1>Article Source <small>{{articleSourceId}}</small></h1>
    </div>
    <div class="col-lg-6">
        <div ng-repeat="metadata in dailyIndicesMetadata">
            <div>
                <a ng-href="/daily-index/{{metadata.Id}}">{{metadata.Id}}</a>
                <a class="btn btn-link" ng-href="{{metadata.Url}}">Link</a>
                <span class="btn btn-link" ng-click="captureOriginal(metadata.Id)">Capture Original</span>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Index Status</h2>
        <div ng-repeat="status in indexStatus">
            Start: {{status.Start}}, End: {{status.End}}, Status: {{status.Status}}
            <span ng-show="status.Status === 'None' || status.Status === 'SourcePartial'" class="btn btn-link" ng-click="importArticlesIndex(status.Start)">Import</span>
            <span ng-show="status.Status === 'SourceReady'" class="btn btn-link" ng-click="syncArticlesIndex(status.Start)">Sync</span>
        </div>
    </div>
</div>