<div class="container">
    <div hydra-breadcrumb="breadcrumb"></div>
    <div class="page-header">
        <h1>Article</h1>

        <div class="well">
            <b>Article Info</b><br>
            <b>Article Source ID:</b> {{Article.ArticleSourceId}}<br>
            <b>ID:</b> {{Article.ArticleId}}</br>
            <b>Import Timestamp:</b> {{Article.Metadata['ImportTimestamp']}}</br>
            <b>Parse Timestamp:</b> {{Article.Metadata['ParseTimestamp']}}</br>

            <b>External URL:</b> <a ng-href="{{Article.SourceUrl}}">{{Article.SourceUrl}}</a>
        </div>
        <div>
            <span class="btn btn-link" ng-click="parseDailyIndex()">Parse</span>
            <span class="btn btn-link" ng-click="importArticle()">Import</span>
        </div>
    </div>
    <div ng-show="status === 'NotParsed'" class="alert alert-warning">Document is not parsed yet.</div>
    <div ng-show="status === 'NotImported'" class="alert alert-warning">Document is not Imported yet.</div>
    <div>
        <h2>{{Article.Content.title}}</h2>

        <p ng-repeat="p in Article.Content.content">
            {{p}}
        </p>
        <hr>
        <h3>Links</h3>
        <div ng-repeat="url in Article.Content.links">
            <a ng-href="{{url}}">
                {{url}}
            </a>
        </div>
        <hr>
        <h3>Meta</h3>
        <div ng-repeat="(k,v) in Article.Content.meta">
            <b>{{k}}</b>: {{v}}
        </div>
    </div>

</div>